<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="css">


    <!--Bootstrap css-->
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <!-- Fontawesome css -->
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
    <!-- Slick slider css -->
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick-theme.css}">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" th:href="@{/assets/css/meanmenu.css}">
    <!--main style css-->
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <!--Responsive css-->
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    <script th:href="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
</th:block>

</html>