<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">
    <!--start widget-area section -->
    <section class="widget-area">
        <div class="container">
            <div class="row widgt-main-area">
                <div class="col-lg-3 f-wiget-bottom">
                    <div class="about-eduspace">
<!--                        <a href="#"><img src="assets/img/f-logo.png" alt=""></a>-->
                        <h4>ECOTHEQUE</h4>
                        <p>Les bibliothèques en ligne facilitent l'accès aux connaissances, encouragent la lecture et favorisent l'inclusion sociale.</p>
                    </div>
                    <div class="widget-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 f-wiget-bottom">
                    <div class="f-widget-title">
                        <h4>Liens utiles</h4>
                    </div>
                    <div class="categories">
                        <ul>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Politique</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Conditions </a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Contact</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Se connecter</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Aides et Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 f-wiget-bottom">
                    <div class="f-widget-title">
                        <h4>Dernières nouvelles</h4>
                    </div>
                    <div class="latest-news">
                        <div class="widget-blog">
                            <div class="w-r-left">
                                <img src="assets/img/w-r1.png" alt="">
                            </div>
                            <div class="w-r-right">
                                <a href="#">ECOTHEQUE, la meilleure bibliothèque </a>
                                <p>31 january 2023</p>
                            </div>
                        </div>
                        <div class="widget-blog">
                            <div class="w-r-left">
                                <img src="assets/img/w-r2.png" alt="">
                            </div>
                            <div class="w-r-right">
                                <a href="#">ECOTHEQUE, la meilleure bibliothèque </a>
                                <p>31 january 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 f-wiget-bottom">
                    <div class="f-widget-area">
                        <div class="f-widget-title">
                            <h4>Actualités</h4>
                        </div>
                        <div class="news-text">
                            <p>Decouvrez nos dernières actualités pour avoir plus d'informations de votre bibliothèque</p>
                        </div>
                        <div class="news-form">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Entrez votre E-mail" id="cemail" name="email" required>
                                <button class="subscribe-btn submit" type="submit" value="submit"><i class="fa fa-paper-plane-o"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--End widget-area section -->
    <!--start Footer area-->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!--start footer-text-->
                    <div class="footer-text">
                        <p>Droit d'auteur: ECOTHEQUE. Tous les droits réservés</p>
                    </div><!--End footer-text-->
                </div>
            </div>
        </div>
    </footer><!--End Footer area-->


</th:block>
</html>