<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="js">
    <!--Scroll-up-->
    <a id="scroll-up" ><i class="fa fa-angle-up"></i></a>
    <!-- jequery  -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script th:src="@{/assets/js/vendor/jquery-1.12.0.min.js}"></script>
    <!-- Bootstrap min.js  -->
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/bootstrap/js/popper.min.js}"></script>
    <!-- slick slider js  -->
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <!-- magnific-popup js  -->
    <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
    <!-- counterup js-->
    <script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/assets/js/waypoints.min.js}"></script>
    <!--meanmenu js -->
    <script th:src="@{/assets/js/jquery.meanmenu.js}"></script>
    <!--main js-->
    <script th:src="@{/assets/js/main.js}"></script>

</th:block>

</html>